body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: green;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

show {
    width: 400px;
    height: 400px;
}

.small-img {
    width: 350px;
    height: 70px;
    margin-top: 10px;
    position: relative;
    left: 25px;
}

    .small-img .icon-left, .small-img .icon-right {
        width: 12px;
        height: 24px;
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }

    .small-img .icon-left {
        transform: rotate(180deg)
    }

    .small-img .icon-right {
        right: 0;
    }

        .small-img .icon-left:hover, .small-img .icon-right:hover {
            opacity: .5;
        }

.small-container {
    width: 310px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

    .small-container div {
        width: 800%;
        position: relative;
    }

    .small-container .show-small-img {
        width: 70px;
        height: 70px;
        margin-right: 6px;
        cursor: pointer;
        float: left;
    }

        .small-container .show-small-img:last-of-type {
            margin-right: 0;
        }


.zoom {
    transition: transform .2s; /*Animation*/
    width: 200px;
    height: 200px;
}

    .zoom:hover {
        transform: scale(1.5); /*(150% zoom - Note: if the zoom is too large, it will go outside of the viewport)*/
    }

#overlay {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    display: inline-block;
    background-image: url('~/Pictures/profilepic.jpg');
    background-repeat: no-repeat;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
